<!DOCTYPE html>
<html ng-app="App">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<script src="../../angular.min.js"></script>
<script src="../../angular-messages.min.js"></script>
<script src="js/app3.js"></script>
</head>
<body ng-controller="SignupController">
    <form name="signup_form" novaliddateng>
    	<fieldset>
    		<legend>Signup</legend>
    		<div class="row">
    			<div class="col-xs-12">
    				<label>your name</label>
    				<input type="text" name="name" ng-model="signup.name" ng-minlength="3" ng-maxlength="20" required/>
    				<div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid&&signup_form.submitted">
    					<small class="error" ng-show="signup_form.name.$error.required">
    						your name is required
    					</small>
    					<small class="error" ng-show="signup_form.name.$error.minlength">
    						your name is required to be at least 3 chars;
    					</small>
    					<small class="error" ng-show="signup_form.name.$error.maxlength">
    						your name is limit to 20 chars
    					</small>
    				</div>
    			</div>
    		</div>
    		<div>
    			<div>
    				<label>email:</label>
    				<input type="email" name="email" ng-model="email" ng-minlength="3" ng-maxlength="20" required>
    				<div ng-show="signup_form.email.$dirty&&signup_form.email.$error">
    					<div ng-show="signup_form.email.$error.required">it is required</div>
    					<div ng-show="signup_form.email.$error.email">please enter correct email</div>
    					<div ng-show="signup_form.email.$error.minlength">at least 3 chars</div>
    					<div ng-show="signup_form.email.$error.maxlength">limit to 20 chars</div>
    				</div>
    			</div>
    		</div>
    		<div>
    			<label>username</label>
    			<input type="text" ng-maxlength="20" ng-minlength="3" name="username" ng-model="sign.username"/>
    			<div ng-messages="signup_form.username.$error" ng-messages-include="tem/message.html">
    			</div>
    		</div>
    	</fieldset>
    	<button type="submit" class="btn btn-primary" ng-click="signupForm()">Submit</button>
    </form>
</body>
</html>